<div class="container-fluid" class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card text-center" >
        <div class="card-header">
            <img [src]="prod?.image" alt="" class="image">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{prod?.titulo}}</h5>
            <p class="card-text">{{prod?.descricao}}</p>
            <p class="card-text"><b>Valor</b> :<u>{{prod?.valor}} Reais</u></p>
            <a href="#" class="btn btn-outline-info">Encomendar</a>
        </div>
        <div class="card-footer text-body-secondary">
            Verificar disponibilidade na encomenda
        </div>
    </div>
</div>