#centro {
    display: flex;
    justify-content: center; 
    align-items: center;
    justify-items: center;     
    flex-direction: column; 
    padding: 20px; 
}

.card {
    max-width: 700px;        
    width: 100%;              
    background-color: #f7f3e9; 
    border-radius: 10px; 
    border: 2px solid midnightblue;     
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 20px;  
}

.image {
    max-width: 100%;           
    height:300px;             
    border-radius: 10px;       
}

.card-title, .card-text {
    margin-bottom: 15px;       
}

.btn-outline-info {
    padding: 10px 20px;       
    border-radius: 5px;        
}

.card-footer {
    font-size: 0.9rem;        
    color: #6c757d;            
}

/* Responsividade */
@media (max-width: 1200px) {
    .card {
        max-width: 80%;        /* Em telas grandes, ocupa 80% da tela */
    }
    .image {
        max-width: 80%;
    }
}

@media (max-width: 992px) {
    .card {
        max-width: 70%;        /* Em telas médias, ocupa 70% da tela */
    }
    .image {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .card {
        max-width: 90%;        /* Em tablets, ocupa 90% da tela */
    }
    .image {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .card {
        max-width: 100%;       /* Em smartphones, ocupa 100% da tela */
    }

    .btn-outline-info {
        width: 100%;           /* Botão ocupa toda a largura */
    }
    .image {
        max-width: 100%;
    }
}
