header{
    background-color:floralwhite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    align-items: center;
  
}
.nav-link:link{
    color:midnightblue ;
}
.nav-link:active{
    color: midnightblue;
}
   
.nav-link:hover{
    color: darkslateblue;
}
.nav-link:visited{
    color: darkslateblue ;
}
h1{
    color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 60px;

}