<section>
    <div class="container-fluid" style="display: flex;justify-content: center; align-items: center; flex-wrap: wrap;">
        <div id="centraliza">
            <div id="mapa" class="container-fluid">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487.5769149044064!2d-45.00399144028339!3d-12.138451599999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x934acaabede6c355%3A0xe6571b1046fdf770!2sR.%20Elp%C3%ADdio%20Nunes%20da%20Mata%2C%20171a%20-%20Barreirinhas%2C%20Barreiras%20-%20BA%2C%2047810-575!5e0!3m2!1spt-BR!2sbr!4v1680184643737!5m2!1spt-BR!2sbr"  id="gmaps"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
